html {
	background-color: yellowgreen;
	line-height: 1.7;
}
body {
	font-family: Arial, sans-serif;
	font-size: 15px;
	margin: 0;
	padding: 0;
}
header{
    max-width: 1100px;
    height: 190px;
	margin: 0 auto;
    background: url("images/Capture2.PNG"),rgb(46, 102, 63);
    background-repeat: no-repeat;
    padding-top: 20px;
	color: #FFF;
	background-position: 480px;
}
header h1{
    padding-left: 20px;
    font-weight: normal;
	font-size: 250%;
}
header p {
	font-size: 90%;
	margin-left: 45px;
}
header nav {
    margin-top: 0px;
}
header nav ul {
    list-style: none; 
}
header li {
    float: left;
    margin-right: 25px;
	
}
header a {
	text-decoration: none;
	color: white;
	background-color: rgba(192, 174, 15, 0.5);
	padding: 18px 28px;
	border: 1px solid #b4a305;
}
header a:hover {
	background-color: #c0ae0f;
	border: 2px solid black;
}
img {
	max-width: 100%;
	height: auto;
}

.main-content {
	max-width: 1100px;
	height: 100%;
	margin: 0 auto;
	background-color: #c0ae0f;
	padding-left: 60px;
	box-sizing: border-box;
	
	display: flex;
}
.img-aside:hover {
	transform: scale(1.1,1.1);
}
.img-2 {
	display: none;
}
.img-1:hover + .img-2{
	display: block;
	transform: rotate(2deg);
}
.img-1:hover{
	display: none;
}
.main-for-real {
	width: 60%;
	color: white;
	flex: 2;
	border-right: 1px solid #b4a305;
	margin-right: 10px;
	padding-right: 20px;
	margin-left: -10px;
	box-sizing: border-box;
	
	
}

.main-content aside {
	flex: 1;
	width: 30%;
	margin-left: 10px;
	box-sizing: border-box;
	padding: 10px;
}
aside img {
	width: 166px;
	height: 175px;
	
}
.fun-facts {
	background-color: yellowgreen;
	padding: 5px;
	border: 1px solid #b4a305;
	border-radius: 20%;
	color: white;

}
.fun-facts h1 {
	text-align: 10px;
}

.proud {
	background-color: yellowgreen;
	margin-top: 20px;
	padding: 5px;
	border: 1px solid #b4a305;
	border-radius: 20%;
	color: white;

}
.proud h1 {
	text-align: 10px;
}

.love {
	background-color: yellowgreen;
	margin-top: 20px;
	padding: 5px;
	border: 1px solid #b4a305;
	border-radius: 20%;
	color: white;

}
.love h1 {
	text-align: 10px;
}

.love:hover,
.proud:hover,
.fun-facts:hover {
	border: 1px solid black;
}


.italian,
.burger ,
.dessert{
    border: 2px solid black;
    border-radius: 10%;
    padding: 15px;
    box-sizing: border-box;
    background-color: lightblue;
    margin-bottom: 20px;
}
.italian h2 ,
.burger h2,
.dessert h2{
    margin: 0;
    margin-bottom: 10px;
    color: #b4a305;
}


.thumbnails {
	margin-right: -15px;
    display: flex;
}

.thumbnails a {
	flex: 1;
	width: 25%;
	box-sizing: border-box;
	padding-right: 15px;
	margin-bottom: 15px;
    
}

.thumbnails img {
	width: 100%;
	height: 150px;
	display: block;
	transition: all .2s ease-in-out;
    border: 1px solid black;
}

.thumbnails:hover img {
	opacity: .6;
	transform: scale(.92);
}

.thumbnails:hover img:hover {
	opacity: 1;
	transform: scale(1) rotate(2deg);
	box-shadow: 0 0 7px rgba(0, 0, 0, .5);
}

@media screen and (max-width: 767px) {
	
	.thumbnails a {
		width: 50%;
	}
	
}








footer {
	text-align: center;
	font-size: 85%;
	color: #FFF;
	padding-bottom: 20px;
	padding-top: 20px;
}

@media screen and (max-width: 500px) {
	.main-content {
		display: block;
	}
	.main-for-real {
		width: 100%;
	}
	aside {
		display: none;
	}
	
}